.MatchSmallCard{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 35px;
    border: 5px solid rgba(230, 230, 230, 0.66);
    box-shadow: 5.3px 10.6px 10.6px hsla(60, 100%, 80%, 0.34);
    transition: 0.4s ease-in-out transform;

    .match-result {
        margin-top: 5px;
    }

    /* 3D Effect */
    transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
}

/* 3D effect on hover */
.MatchSmallCard:hover {
    transform: translate3d(0px, 0px, -250px);
}